.header {
	position: relative;
	width: 100%;
	z-index: 10000;
	min-height: 70px;
	background-color: rgb(32, 35, 41);
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 70px;
	}
	&__menu-box {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		@media screen and (max-width: 680px) {
			position: fixed;
			top: 70px;
			z-index: -10;
			right: 0;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			background-color: rgb(32, 35, 41);
			transform: translateX(550px);
			transition: all 0.3s ease 0s;
		}
		&.active {
			transform: translateY(0px);
		}
	}
	&__menu-link {
		position: relative;
		font-size: 20px;
		text-transform: lowercase;
		font-weight: 800;
		margin-left: 5%;
		color: #fff;
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			right: 0;
			top: 30px;
			height: 2px;
			width: 0;
			background-color: rgb(97, 217, 251);
			transition: width 0.3s ease-out;
		}
		&:hover:after {
			width: 100%;
			color: rgb(97, 217, 251);
			@media screen and (max-width: 680px) {
				width: 0;
			}
		}
		&:hover {
			color: rgb(97, 217, 251);
		}
		@media screen and (max-width: 680px) {
			margin: 20px 15px;
		}
	}
}
