.menu-toggle {
	display: none;
	position: relative;
	z-index: 3;
	width: 2.5rem;
	height: 2rem;
	background-color: #fff;
	@media screen and (max-width: 680px) {
		display: inline-block;
	}
	// основной элемент меню, средняя полоска
	&__item {
		position: absolute;
		background: #000;
		width: 100%;
		height: 2px;
		left: 0;
		top: 0.9rem;
		transition: all 0.3s ease 0s;
		opacity: 0.6;
	}
	// нижняя и верхняя
	&::before,
	&::after {
		content: "";
		position: absolute;
		background: #000;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
		opacity: 0.6;
	}
	// Раздвинаем, здесь вверх
	&::before {
		top: 0;
        
	}
	// Раздвинаем, здесь вниз
	&::after {
		bottom: 0;
	}
	// Поворачиваем на 45 градусов при клике
	&.active::before {
		transform: rotate(45deg);
		top: 1rem;
	}
	// Поворачиваем на 45 градусов при клике
	&.active::after {
		transform: rotate(-45deg);
		bottom: 1rem;
	}
	// Скрываем среднюю полоску при клике
	&.active span {
		transform: scale(0);
	}
}
