* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: "Raleway", sans-serif;
	background-color: rgb(40, 44, 52);
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	cursor: pointer;
	border: none;
	background-color: inherit;
}
